.rootLayout {
    background-color: #1f2427;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 20px;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 200px;
                height: auto;
            }
        }
    }

    main {
        flex:1;
        overflow:hidden;
    }
}